S3method(summary,multiOU)
export(bm_path_sim)
export(bootstrap)
export(bootstrap.multiOU)
export(brownie_path_sim)
export(convert)
export(custom_multiType)
export(evaluate_likelihood)
export(format_data)
export(getParameters)
export(getParameters.multiOU)
export(loglik.multiOU)
export(mrcaOUCH)
export(multiTypeOU)
export(ou_path_sim)
export(paintBranches)
export(release_path_sim)
export(simulate.multiOU)
export(tip_plot)
export(update.multiOU)
import(geiger)
import(ouch)
useDynLib(wrightscape)
